In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from keras.layers import *
from keras.models import *
from keras.utils import *
from sklearn.preprocessing import *

Using TensorFlow backend.

In [2]:
label = ['feat.{}'.format(i) for i in range(73)]

df = pd.read_csv('./data/eighthr.data', names=label)
df

,feat.0,feat.1,feat.2,feat.3,feat.4,feat.5,feat.6,feat.7,feat.8,feat.9,...,feat.63,feat.64,feat.65,feat.66,feat.67,feat.68,feat.69,feat.70,feat.71,feat.72
1/1/1998,0.8,1.8,2.4,2.1,2,2.1,1.5,1.7,1.9,2.3,...,0.15,10.67,-1.56,5795,-12.1,17.9,10330,-55,0,0.0
1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,0.48,8.39,3.84,5805,14.05,29,10275,-55,0,0.0
1/3/1998,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,0.6,6.94,9.8,5790,17.9,41.3,10235,-40,0,0.0
1/4/1998,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,0.49,8.73,10.54,5775,31.15,51.7,10195,-40,2.08,0.0
1/5/1998,2.6,2.1,1.6,1.4,0.9,1.5,1.2,1.4,1.3,1.4,...,?,?,?,?,?,?,?,?,0.58,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/27/2004,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,2.2,...,0.07,7.93,-4.41,5800,-25.6,21.8,10295,65,0,0.0
12/28/2004,1,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,2.4,...,0.04,5.95,-1.14,5845,-19.4,19.1,10310,15,0,0.0
12/29/2004,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,1.5,...,0.06,7.8,-0.64,5845,-9.6,35.2,10275,-35,0,0.0
12/30/2004,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1,1.9,2,...,0.25,7.72,-0.89,5845,-19.6,34.2,10245,-30,0.05,0.0
12/31/2004,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,3,...,0.54,13.07,9.15,5820,1.95,39.35,10220,-25,0,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2534 entries, 1/1/1998 to 12/31/2004
Data columns (total 73 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   feat.0   2534 non-null   object
 1   feat.1   2534 non-null   object
 2   feat.2   2534 non-null   object
 3   feat.3   2534 non-null   object
 4   feat.4   2534 non-null   object
 5   feat.5   2534 non-null   object
 6   feat.6   2534 non-null   object
 7   feat.7   2534 non-null   object
 8   feat.8   2534 non-null   object
 9   feat.9   2534 non-null   object
 10  feat.10  2534 non-null   object
 11  feat.11  2534 non-null   object
 12  feat.12  2534 non-null   object
 13  feat.13  2534 non-null   object
 14  feat.14  2534 non-null   object
 15  feat.15  2534 non-null   object
 16  feat.16  2534 non-null   object
 17  feat.17  2534 non-null   object
 18  feat.18  2534 non-null   object
 19  feat.19  2534 non-null   object
 20  feat.20  2534 non-null   object
 21  feat.21  2534 non-null   object
 22  feat.22  2534 non-null   object
 23  feat.23  2534 non-null   object
 24  feat.24  2534 non-null   object
 25  feat.25  2534 non-null   object
 26  feat.26  2534 non-null   object
 27  feat.27  2534 non-null   object
 28  feat.28  2534 non-null   object
 29  feat.29  2534 non-null   object
 30  feat.30  2534 non-null   object
 31  feat.31  2534 non-null   object
 32  feat.32  2534 non-null   object
 33  feat.33  2534 non-null   object
 34  feat.34  2534 non-null   object
 35  feat.35  2534 non-null   object
 36  feat.36  2534 non-null   object
 37  feat.37  2534 non-null   object
 38  feat.38  2534 non-null   object
 39  feat.39  2534 non-null   object
 40  feat.40  2534 non-null   object
 41  feat.41  2534 non-null   object
 42  feat.42  2534 non-null   object
 43  feat.43  2534 non-null   object
 44  feat.44  2534 non-null   object
 45  feat.45  2534 non-null   object
 46  feat.46  2534 non-null   object
 47  feat.47  2534 non-null   object
 48  feat.48  2534 non-null   object
 49  feat.49  2534 non-null   object
 50  feat.50  2534 non-null   object
 51  feat.51  2534 non-null   object
 52  feat.52  2534 non-null   object
 53  feat.53  2534 non-null   object
 54  feat.54  2534 non-null   object
 55  feat.55  2534 non-null   object
 56  feat.56  2534 non-null   object
 57  feat.57  2534 non-null   object
 58  feat.58  2534 non-null   object
 59  feat.59  2534 non-null   object
 60  feat.60  2534 non-null   object
 61  feat.61  2534 non-null   object
 62  feat.62  2534 non-null   object
 63  feat.63  2534 non-null   object
 64  feat.64  2534 non-null   object
 65  feat.65  2534 non-null   object
 66  feat.66  2534 non-null   object
 67  feat.67  2534 non-null   object
 68  feat.68  2534 non-null   object
 69  feat.69  2534 non-null   object
 70  feat.70  2534 non-null   object
 71  feat.71  2534 non-null   object
 72  feat.72  2534 non-null   float64
dtypes: float64(1), object(72)
memory usage: 1.4+ MB

In [14]:
# object type -> float type
df = df.apply(pd.to_numeric, errors='coerce')
df

,feat.0,feat.1,feat.2,feat.3,feat.4,feat.5,feat.6,feat.7,feat.8,feat.9,...,feat.63,feat.64,feat.65,feat.66,feat.67,feat.68,feat.69,feat.70,feat.71,feat.72
1/1/1998,0.8,1.8,2.4,2.1,2.0,2.1,1.5,1.7,1.9,2.3,...,0.15,10.67,-1.56,5795.0,-12.10,17.90,10330.0,-55.0,0.00,0.0
1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,0.48,8.39,3.84,5805.0,14.05,29.00,10275.0,-55.0,0.00,0.0
1/3/1998,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,0.60,6.94,9.80,5790.0,17.90,41.30,10235.0,-40.0,0.00,0.0
1/4/1998,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,0.49,8.73,10.54,5775.0,31.15,51.70,10195.0,-40.0,2.08,0.0
1/5/1998,2.6,2.1,1.6,1.4,0.9,1.5,1.2,1.4,1.3,1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.58,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/27/2004,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,2.2,...,0.07,7.93,-4.41,5800.0,-25.60,21.80,10295.0,65.0,0.00,0.0
12/28/2004,1.0,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,2.4,...,0.04,5.95,-1.14,5845.0,-19.40,19.10,10310.0,15.0,0.00,0.0
12/29/2004,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,1.5,...,0.06,7.80,-0.64,5845.0,-9.60,35.20,10275.0,-35.0,0.00,0.0
12/30/2004,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1.0,1.9,2.0,...,0.25,7.72,-0.89,5845.0,-19.60,34.20,10245.0,-30.0,0.05,0.0
12/31/2004,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,3.0,...,0.54,13.07,9.15,5820.0,1.95,39.35,10220.0,-25.0,0.00,0.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2534 entries, 1/1/1998 to 12/31/2004
Data columns (total 73 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   feat.0   2235 non-null   float64
 1   feat.1   2242 non-null   float64
 2   feat.2   2240 non-null   float64
 3   feat.3   2242 non-null   float64
 4   feat.4   2241 non-null   float64
 5   feat.5   2242 non-null   float64
 6   feat.6   2243 non-null   float64
 7   feat.7   2245 non-null   float64
 8   feat.8   2244 non-null   float64
 9   feat.9   2247 non-null   float64
 10  feat.10  2246 non-null   float64
 11  feat.11  2242 non-null   float64
 12  feat.12  2247 non-null   float64
 13  feat.13  2246 non-null   float64
 14  feat.14  2246 non-null   float64
 15  feat.15  2248 non-null   float64
 16  feat.16  2250 non-null   float64
 17  feat.17  2251 non-null   float64
 18  feat.18  2248 non-null   float64
 19  feat.19  2242 non-null   float64
 20  feat.20  2240 non-null   float64
 21  feat.21  2241 non-null   float64
 22  feat.22  2234 non-null   float64
 23  feat.23  2237 non-null   float64
 24  feat.24  2261 non-null   float64
 25  feat.25  2261 non-null   float64
 26  feat.26  2344 non-null   float64
 27  feat.27  2349 non-null   float64
 28  feat.28  2347 non-null   float64
 29  feat.29  2350 non-null   float64
 30  feat.30  2350 non-null   float64
 31  feat.31  2351 non-null   float64
 32  feat.32  2351 non-null   float64
 33  feat.33  2351 non-null   float64
 34  feat.34  2349 non-null   float64
 35  feat.35  2349 non-null   float64
 36  feat.36  2346 non-null   float64
 37  feat.37  2342 non-null   float64
 38  feat.38  2345 non-null   float64
 39  feat.39  2343 non-null   float64
 40  feat.40  2342 non-null   float64
 41  feat.41  2347 non-null   float64
 42  feat.42  2350 non-null   float64
 43  feat.43  2352 non-null   float64
 44  feat.44  2350 non-null   float64
 45  feat.45  2346 non-null   float64
 46  feat.46  2345 non-null   float64
 47  feat.47  2349 non-null   float64
 48  feat.48  2342 non-null   float64
 49  feat.49  2345 non-null   float64
 50  feat.50  2359 non-null   float64
 51  feat.51  2359 non-null   float64
 52  feat.52  2435 non-null   float64
 53  feat.53  2429 non-null   float64
 54  feat.54  2354 non-null   float64
 55  feat.55  2354 non-null   float64
 56  feat.56  2439 non-null   float64
 57  feat.57  2427 non-null   float64
 58  feat.58  2419 non-null   float64
 59  feat.59  2377 non-null   float64
 60  feat.60  2377 non-null   float64
 61  feat.61  2434 non-null   float64
 62  feat.62  2419 non-null   float64
 63  feat.63  2409 non-null   float64
 64  feat.64  2324 non-null   float64
 65  feat.65  2324 non-null   float64
 66  feat.66  2422 non-null   float64
 67  feat.67  2398 non-null   float64
 68  feat.68  2409 non-null   float64
 69  feat.69  2439 non-null   float64
 70  feat.70  2376 non-null   float64
 71  feat.71  2532 non-null   float64
 72  feat.72  2534 non-null   float64
dtypes: float64(73)
memory usage: 1.4+ MB

In [16]:
df.dtypes

feat.0     float64
feat.1     float64
feat.2     float64
feat.3     float64
feat.4     float64
            ...
feat.68    float64
feat.69    float64
feat.70    float64
feat.71    float64
feat.72    float64
Length: 73, dtype: object

In [17]:
df.dropna(inplace=True)
df

,feat.0,feat.1,feat.2,feat.3,feat.4,feat.5,feat.6,feat.7,feat.8,feat.9,...,feat.63,feat.64,feat.65,feat.66,feat.67,feat.68,feat.69,feat.70,feat.71,feat.72
1/1/1998,0.8,1.8,2.4,2.1,2.0,2.1,1.5,1.7,1.9,2.3,...,0.15,10.67,-1.56,5795.0,-12.10,17.90,10330.0,-55.0,0.00,0.0
1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,0.48,8.39,3.84,5805.0,14.05,29.00,10275.0,-55.0,0.00,0.0
1/3/1998,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,0.60,6.94,9.80,5790.0,17.90,41.30,10235.0,-40.0,0.00,0.0
1/4/1998,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,0.49,8.73,10.54,5775.0,31.15,51.70,10195.0,-40.0,2.08,0.0
1/7/1998,3.7,3.2,3.8,5.1,6.0,7.0,6.3,6.4,6.3,5.4,...,0.84,6.86,25.60,5695.0,26.75,48.45,10040.0,-80.0,0.18,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/27/2004,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,2.2,...,0.07,7.93,-4.41,5800.0,-25.60,21.80,10295.0,65.0,0.00,0.0
12/28/2004,1.0,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,2.4,...,0.04,5.95,-1.14,5845.0,-19.40,19.10,10310.0,15.0,0.00,0.0
12/29/2004,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,1.5,...,0.06,7.80,-0.64,5845.0,-9.60,35.20,10275.0,-35.0,0.00,0.0
12/30/2004,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1.0,1.9,2.0,...,0.25,7.72,-0.89,5845.0,-19.60,34.20,10245.0,-30.0,0.05,0.0
12/31/2004,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,3.0,...,0.54,13.07,9.15,5820.0,1.95,39.35,10220.0,-25.0,0.00,0.0

In [19]:
df.describe()

,feat.0,feat.1,feat.2,feat.3,feat.4,feat.5,feat.6,feat.7,feat.8,feat.9,...,feat.63,feat.64,feat.65,feat.66,feat.67,feat.68,feat.69,feat.70,feat.71,feat.72
count,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,...,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000,1847.000000
mean,1.629020,1.570384,1.536979,1.520087,1.515268,1.533676,1.632431,2.037899,2.525772,2.843151,...,0.300087,9.821191,0.647201,5822.425555,10.680401,37.689334,10165.476448,-0.836492,0.358787,0.069302
std,1.253261,1.243717,1.218822,1.194880,1.187541,1.158722,1.137623,1.154328,1.172360,1.208258,...,0.244579,9.342806,7.352023,75.711087,20.170554,11.007448,52.056467,34.134815,1.262573,0.254035
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.100000,...,0.010000,-14.920000,-25.990000,5480.000000,-56.700000,-10.100000,9995.000000,-135.000000,0.000000,0.000000
25%,0.600000,0.600000,0.600000,0.600000,0.600000,0.700000,0.800000,1.200000,1.700000,2.000000,...,0.090000,2.705000,-3.990000,5775.000000,-2.750000,33.050000,10130.000000,-20.000000,0.000000,0.000000
50%,1.300000,1.300000,1.200000,1.300000,1.300000,1.300000,1.400000,1.900000,2.400000,2.800000,...,0.220000,9.220000,0.260000,5835.000000,14.700000,41.350000,10160.000000,0.000000,0.000000,0.000000
75%,2.400000,2.300000,2.200000,2.200000,2.200000,2.100000,2.200000,2.800000,3.300000,3.600000,...,0.470000,16.505000,4.645000,5880.000000,27.825000,45.150000,10195.000000,15.000000,0.050000,0.000000
max,6.900000,6.900000,7.100000,6.700000,7.200000,7.400000,7.200000,7.500000,9.200000,8.300000,...,1.000000,41.360000,30.420000,5965.000000,42.050000,59.150000,10350.000000,140.000000,20.650000,1.000000

In [21]:
Y = df['feat.72']
Y

1/1/1998      0.0
1/2/1998      0.0
1/3/1998      0.0
1/4/1998      0.0
1/7/1998      0.0
             ...
12/27/2004    0.0
12/28/2004    0.0
12/29/2004    0.0
12/30/2004    0.0
12/31/2004    0.0
Name: feat.72, Length: 1847, dtype: float64

In [22]:
Y = to_categorical(Y)

In [23]:
df.drop(['feat.72'], axis=1, inplace=True)
df

,feat.0,feat.1,feat.2,feat.3,feat.4,feat.5,feat.6,feat.7,feat.8,feat.9,...,feat.62,feat.63,feat.64,feat.65,feat.66,feat.67,feat.68,feat.69,feat.70,feat.71
1/1/1998,0.8,1.8,2.4,2.1,2.0,2.1,1.5,1.7,1.9,2.3,...,-15.5,0.15,10.67,-1.56,5795.0,-12.10,17.90,10330.0,-55.0,0.00
1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,-14.5,0.48,8.39,3.84,5805.0,14.05,29.00,10275.0,-55.0,0.00
1/3/1998,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,-15.9,0.60,6.94,9.80,5790.0,17.90,41.30,10235.0,-40.0,0.00
1/4/1998,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,-16.8,0.49,8.73,10.54,5775.0,31.15,51.70,10195.0,-40.0,2.08
1/7/1998,3.7,3.2,3.8,5.1,6.0,7.0,6.3,6.4,6.3,5.4,...,-11.8,0.84,6.86,25.60,5695.0,26.75,48.45,10040.0,-80.0,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/27/2004,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,2.2,...,-12.4,0.07,7.93,-4.41,5800.0,-25.60,21.80,10295.0,65.0,0.00
12/28/2004,1.0,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,2.4,...,-12.0,0.04,5.95,-1.14,5845.0,-19.40,19.10,10310.0,15.0,0.00
12/29/2004,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,1.5,...,-11.8,0.06,7.80,-0.64,5845.0,-9.60,35.20,10275.0,-35.0,0.00
12/30/2004,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1.0,1.9,2.0,...,-10.8,0.25,7.72,-0.89,5845.0,-19.60,34.20,10245.0,-30.0,0.05
12/31/2004,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,3.0,...,-11.9,0.54,13.07,9.15,5820.0,1.95,39.35,10220.0,-25.0,0.00

In [24]:
# training / test set
X_train = np.asarray(df[:-100].values.tolist(), dtype=np.float64)
X_test = np.asarray(df[-100:].values.tolist(), dtype=np.float64)

y_train = Y[:-100]
y_test = Y[-100:]

In [26]:
print(X_train.shape)
print(y_train.shape)

(1747, 72)
(1747, 2)

In [27]:
X_train = X_train[:1700]
y_train = y_train[:1700]
print(X_train.shape)
print(y_train.shape)

(1700, 72)
(1700, 2)

In [29]:
# (sampling, timestamp, feature)
X_train = X_train.reshape(-1, 10, 72)
y_train = y_train.reshape(-1, 10, 2)
X_test = X_test.reshape(-1, 10, 72)
y_test = y_test.reshape(-1, 10, 2)

In [30]:
print(X_train.shape)
print(y_train.shape)

(170, 10, 72)
(170, 10, 2)

In [31]:

# modeling
model = Sequential()
model.add(LSTM(128, input_shape=(10,72), return_sequences=True))
model.add(LSTM(256, return_sequences=True))
model.add(Dense(2, activation='softmax'))

In [32]:
# compling
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (None, 10, 128)           102912
_________________________________________________________________
lstm_2 (LSTM)                (None, 10, 256)           394240
_________________________________________________________________
dense_1 (Dense)              (None, 10, 2)             514
=================================================================
Total params: 497,666
Trainable params: 497,666
Non-trainable params: 0
_________________________________________________________________

In [33]:
# training
model.fit(X_train, y_train, epochs=10, batch_size=1, validation_split=0.2)

Train on 136 samples, validate on 34 samples
Epoch 1/10
136/136 [==============================] - 20s 147ms/step - loss: 0.2995 - acc: 0.9199 - val_loss: 0.1814 - val_acc: 0.9588
Epoch 2/10
136/136 [==============================] - 14s 100ms/step - loss: 0.2898 - acc: 0.9199 - val_loss: 0.1814 - val_acc: 0.9588
Epoch 3/10
136/136 [==============================] - 14s 100ms/step - loss: 0.2923 - acc: 0.9199 - val_loss: 0.1935 - val_acc: 0.9588
Epoch 4/10
136/136 [==============================] - 16s 120ms/step - loss: 0.2868 - acc: 0.9199 - val_loss: 0.1901 - val_acc: 0.9588
Epoch 5/10
136/136 [==============================] - 17s 126ms/step - loss: 0.2884 - acc: 0.9199 - val_loss: 0.2275 - val_acc: 0.9588
Epoch 6/10
136/136 [==============================] - 15s 112ms/step - loss: 0.2871 - acc: 0.9199 - val_loss: 0.1781 - val_acc: 0.9588
Epoch 7/10
136/136 [==============================] - 14s 102ms/step - loss: 0.2810 - acc: 0.9199 - val_loss: 0.2312 - val_acc: 0.9588
Epoch 8/10
136/136 [==============================] - 14s 100ms/step - loss: 0.2856 - acc: 0.9199 - val_loss: 0.1796 - val_acc: 0.9588
Epoch 9/10
136/136 [==============================] - 14s 100ms/step - loss: 0.2812 - acc: 0.9199 - val_loss: 0.1982 - val_acc: 0.9588
Epoch 10/10
136/136 [==============================] - 18s 132ms/step - loss: 0.2842 - acc: 0.9199 - val_loss: 0.1785 - val_acc: 0.9588

In [35]:
# evaluation
score = model.evaluate(X_test, y_test)
score

10/10 [==============================] - 0s 4ms/step

[0.12203781306743622, 0.9800000190734863]